<h1 id="profileHeading">Your Movie Matches:</h1>

<button class="btn btn-success" id="sendEmailBtn">EMAIL MOVIES!</button>

<br>

{{#each results}}

<img class="profilePosters" src="https://image.tmdb.org/t/p/w640{{this.poster_path}}">

{{/each}}
